## Let's Explore Penguins

In [3]:
# Import packages
import pandas as pd
import seaborn as sns

# Load data
penguins = sns.load_dataset("penguins")
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### Exploring distribution of bill length

In [ ]:
my_pal = {"Adelie": "darkorange", "Chinstrap":"darkorchid", "Gentoo": "green"}
sns.catplot(x="species", y="bill_length_mm", jitter=True, data=penguins, palette=my_pal, alpha = 0.8)